body {
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  pointer-events: none;
}

.left,
.right {
  position: center;
}

.right img {
  position: absolute;
}

#shadow {
  z-index: 1;
  right: 50px;
  bottom: 0;
}

#cauldron {
  width: 275px;
  z-index: 2;
  right: 15px;
  bottom: 15px;
}

@keyframes ghost {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bubble1 {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bubble2 {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bubble3 {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}

@keyframes bubble4 {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bubble5 {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bubble6 {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes smoke1 {
  0% {
    -ms-transform: skew(3deg, 6deg);
    -webkit-transform: skew(3deg, 6deg);
    transform: skew(3deg, 6deg);
  }

  50% {
    -ms-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  100% {
    -ms-transform: skew(3deg, 6deg);
    -webkit-transform: skew(3deg, 6deg);
    transform: skew(3deg, 6deg);
  }
}

@keyframes smoke2 {
  0% {
    -ms-transform: skew(3deg, 8deg);
    -webkit-transform: skew(3deg, 8deg);
    transform: skew(3deg, 8deg);
  }

  50% {
    -ms-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  100% {
    -ms-transform: skew(3deg, 8deg);
    -webkit-transform: skew(3deg, 8deg);
    transform: skew(3deg, 8deg);
  }
}

#ghost {
  width: 192px;
  right: 85px;
  bottom: 235px;
  animation: ghost 3.5s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 6;
}

#bubble1 {
  width: 52px;
  right: 185px;
  bottom: 220px;
  animation: bubble1 4.5s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 3;
}

#bubble2 {
  width: 30px;
  right: 110px;
  bottom: 215px;
  animation: bubble2 3.5s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 3;
}

#bubble3 {
  width: 21px;
  right: 172px;
  bottom: 263px;
  animation: bubble3 4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 3;
}

#bubble4 {
  width: 15px;
  right: 95px;
  bottom: 250px;
  animation: bubble4 4.2s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 4;
}

#bubble5 {
  width: 15px;
  right: 210px;
  bottom: 285px;
  animation: bubble5 4.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 4;
}

#bubble6 {
  width: 15px;
  right: 90px;
  bottom: 305px;
  animation: bubble6 4.6s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 4;
}

#smoke1 {
  width: 145px;
  right: 185px;
  bottom: 295px;
  -ms-transform: skew(3deg, 6deg);
  -webkit-transform: skew(3deg, 6deg);
  transform: skew(3deg, 6deg);
  animation: smoke1 3s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 5;
}

#smoke2 {
  width: 84px;
  right: 15px;
  bottom: 290px;
  -ms-transform: skew(3deg, 8deg);
  -webkit-transform: skew(3deg, 8deg);
  transform: skew(3deg, 8deg);
  animation: smoke2 3.5s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  z-index: 5;
}

#bottom {
  width: 400px;
  bottom: -140px;
  right: -39px;
  z-index: 10;
}
